VITE_APP_VERSION=1.0.0
VITE_TEAM_NAME=Awal Solution Team
VITE_GITHUB_URL=https://github.com/awal-solution
VITE_APP_URL=https://awalsolution.com
VITE_APP_TITLE=Awal Solution CMS
VITE_API_URL=https://awal-cms-api.awalsolution.com
VITE_UPLOAD_URL=https://awal-cms-api.awalsolution.com/api/v1/upload
VITE_IMG_URL=https://awal-cms-api.awalsolution.com
VITE_API_PREFIX=/api/v1
